{
	"extends": "stylelint-config-standard",
	"plugins": ["stylelint-scss"],
	"rules": {
#		"indentation": null,
#		"selector-combinator-space-before": null,
#		"selector-descendant-combinator-no-non-space": null,
#		"selector-type-no-unknown": null,
		"selector-pseudo-element-no-unknown": [
			true,
			{
				"ignorePseudoElements": ["ng-deep"]
			}
		],
		"import-notation": 'string',
		"no-empty-source": null,
#		"declaration-colon-newline-after": null,
#		"value-list-comma-newline-after": null,
		"at-rule-no-unknown": null,
#		"block-closing-brace-newline-after": null,
#		"at-rule-empty-line-before": null,
#		"no-descending-specificity": null,
		"no-invalid-position-at-import-rule": null
	}
}
