<app-main-container [showTermsOfUse]="false">
    <div class="data-panel">
        <div class="header">
            <span class="text-card-sub-title">Terms Of Use: What You Agree To When Using This Site</span>
        </div>
        <div class="body">
            <div>
                This website (the “Site”) is owned and operated by Ascent Global Logistics, Inc. and/or its subsidiaries
                and affiliates (collectively, “Ascent”).You are granted access to the Site pursuant to the terms of the
                agreement between your company and Ascent, and subject to these Terms of Use (“TOU”) and any other terms
                and rules applicable to any Materials and Services (defined below) accessible on or through the Site
                including, but not limited to, Ascent’s Terms and Conditions of Use available at
                <a href="https://ascentlogistics.com/terms-and-conditions/" class="fontSize16 atag"
                    >https://ascentlogistics.com/terms-and-conditions/.</a
                >
                By using the Site and any Materials or Services, your company agrees to these TOU and all applicable
                terms and rules.
            </div>
            <div>
                1. Through the Site, Ascent may make available to you: (a) a software program called APT, PEAK
                Essentials and/or PEAK Order Management (the “Software”) as well as certain audio and visual articles,
                text, images, illustrations, photographs, video, documents and other materials contained or displayed in
                or made available through the Site (collectively, “Materials”); and (b) various services operated by
                Ascent (collectively, “Services”). In these TOU, all references to this “Site” shall be deemed to
                include all “Software,” “Materials” and “Services,” unless otherwise expressly indicated.
            </div>
            <div>
                2. Ascent grants your company a non-exclusive, non-transferable, revocable license to internally access,
                view, download, print, use and display Materials, solely for the limited purpose for which Ascent makes
                them available on the Site. Your company will not permit any third party to access or use the Site for
                any reason, without the prior express written permission of Ascent. All rights not expressly granted by
                Ascent are retained by Ascent, and you may not use the Site and/or any element of the Site in any manner
                or for any purpose not expressly authorized by these TOU. The rights granted to you do not include, and
                are not applicable to, the design or layout of the Site, which are protected by trade dress and other
                laws and may not be copied or imitated in whole or in part.
            </div>
            <div>
                3. You shall not: (a) remove or destroy any proprietary rights, marks or legends on or in the Site; (b)
                modify, enhance, adapt, translate, or create derivative works of the Site; (c) republish, post,
                transmit, transfer, distribute, assign, sublicense, rent, lease or sell the Site; (d) decompile,
                disassemble or reverse engineer the Site; (e) reproduce or make copies of the Site; (f) “frame” or
                “mirror” the Site on any other server or Internet-based device; (g) access, view, download, print, use
                and/or display the Site for any commercial purpose; and/or (h) publicly display or disclose to any third
                party the Site or any contents of the Site. You acknowledge that certain elements of the Site are, or
                may in the future be, licensed to Ascent by third parties and that the availability of such elements may
                cease automatically, without notice or liability on the part of Ascent.
            </div>
            <div>
                4. Your company’s rights to use the Site shall continue only for so long as the agreement between your
                company and Ascent remains in full force and effect (the “Term”). During the Term, Ascent will make
                available on the Site all modifications to the Software that Ascent implements.
            </div>
            <div>
                5. Your company acknowledges and agrees that the Software and other Materials, and any information and
                data contained therein, are proprietary and confidential property of Ascent and the product of Ascent’s
                significant time and effort in development. In the event your company receives a court order, or
                subpoena or other governmental order requiring release of any information concerning the Site, your
                company must immediately notify Ascent in writing.
            </div>
            <div>
                6. Your company acknowledges and agrees that its violation of any of these TOU, or other terms and
                rules, will cause damage to Ascent that may not be adequately compensated through money damages. As
                such, your company expressly consents to the entry of an order for equitable remedies, including, but
                not limited to, temporary, preliminary and permanent injunctions to remedy any actual or threatened
                breach of these TOU, or any other terms and rules. No action for any such relief will be deemed a waiver
                of the right to an action for damages.
            </div>
            <div>
                7. Ascent reserves the right to change the terms and conditions of these TOU and/or any of its other
                terms or rules relating to the Site, at any time in its sole discretion. Ascent shall notify you of such
                changes by posting the changes on the Site. You are responsible for regularly reviewing the Site and
                these TOU regarding such changes. Continued use of the Site after any such changes have been posted
                shall constitute your company’s agreement to them.
            </div>
        </div>
    </div>
</app-main-container>
